@import '../../GeneralStyles/placeholders.scss';
.AddForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  @extend %appereanceFromLeftAnimation;
  &__button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    align-self: center;
  }
}