@import '../../_tools/mixins';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  &--close {
    @include Square(30px);
    border-radius: 51%;
  }
  background-color: $light-blue;
  &:hover {
    background-color: $mediun-blue;
    color: $main-white;
    transition: all $transition-duration;
  }
  &:active {
    background-color: $dark-blue;
    transition: all $transition-duration;
  }
}