.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
  margin: auto;
  transition: transform 0.3s, background-color 0.3s;
}