@import '../../_tools/placeholders';

.form {
  @extend %appereanceAnimation;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 10px;
  &__button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    align-self: center;

    &--showForm {
      width: 100px;
      border-radius: 20px;
      padding: 6px;
    }
  }

  &__input {
    width: 180px;
    &--textarea {
      width: 300px;
      height: 150px;
      resize: none;
    }
  }

  &__error {
    color: $main-red;
  }
}