@import './variables.scss';
@import './animations.scss';

%appereanceFromLeftAnimation {
  animation: appereanceFromLeft 1s linear;
}

%appereanceFromRightAnimation {
  animation: appereanceFromRight 1s linear;
}


%stretch-panel {
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: $main-white;
}