@import '../../_tools/placeholders';

.AnnouncementsList {
  @extend %appereanceAnimation;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__message {
    text-align: center;
  }

}