@import '../../_tools/placeholders';

.SideBar { 
    @extend %stretch-panel;
    @extend %appereanceAnimation;
    flex-basis: 30%;
    position: relative;
    &__content-container {
      position: sticky;
      display: flex;
      justify-content: center;
      top: 20px;
    }
}
