@import '../../GeneralStyles/mixins.scss';
@import '../../GeneralStyles/variables.scss';
@import '../../GeneralStyles/animations.scss';
.Announcement {
  @include Square(200px);
  display: flex;
  padding: 10px 5px;
  justify-content: center;
  border-radius: 20px;
  background-color: gray;
  text-align: center;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow-y: hidden;
  &__title {
    text-align: center;
  }
  &__buttons-container {
    height: max-content;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  &__button {
    padding: 4px;
    color: $main-white;
    &--delete {
      @include Square(30px);
      border-radius: 50%;
    }
    &--details {
      border-radius: 20px;
      width: max-content;
      height: max-content;
    }
  }

  &--unmount {
    animation: unMounting 1s linear;
  }
}