@import '../../_tools/mixins';
@import '../../_tools/variables';
@import '../../_tools/placeholders';
.Announcement {
  @include Square(200px);
  @extend %appereanceAnimation;
  display: flex;
  padding: 10px 5px;
  justify-content: center;
  border-radius: 20px;
  background-color: gray;
  text-align: center;
  flex-wrap: wrap;
  transition: transform $transition-duration;
  &--selected {
    transform: scale(1.05);
  }
  
  &__title {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__buttons-container {
    height: max-content;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  &__button {
    padding: 4px;
    color: $main-white;
    
    &--details {
      border-radius: 20px;
      width: max-content;
      height: max-content;
    }
  }
}